<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>AkaRestourant</title>
  <link rel="icon" href="./images/logo/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="stylesheet" href="style.css" />
  <link rel="manifest" href="./app.webmanifest">
  <meta name="theme-color" content="#DB0000"/>

  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 
</head>
<body>
  <a href="#main-content" class="skip-link">Skip to Content</a>

  <header>
    <header-app></header-app>
  </header>

  <main id="main-content" class="main-content" tabindex="0">
  </main>

  <footer-bar></footer-bar>

  <script type="module" src="../scripts/index.js"></script>
</body>
</html>
